.image__carousel {
  height: 200px;
  width: 100%;

  img {
    height: 200px;
    width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .image__carousel {
    height: 350px;
    width: 100%;

    img {
      background-size: cover;
      height: 350px;
      width: 100%;
      object-fit: cover;
    }
  }
}
