.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.nav-wrapper {
  z-index: 9999999;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  background-color: #006dc6;
  font-size: 18px;
  min-width: 100%;
  display: flex;
  justify-content: center;

  .sub-menu {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin-top: 10px;

    li {
      position: relative;
      background-color: #006dc6;
      float: left;
      clear: both;
      width: 100%;
      line-height: 20px;

      &:hover {
        a {
          color: #006dc6 !important;
        }
      }

      a {
        text-decoration: none;
        color: #fafafa !important;
      }
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0;

    li {
      display: inline-block;
      cursor: pointer;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        background-color: #fafafa;
      }

      &:hover {
        a {
          color: #006dc6;
          text-decoration: none;
        }
      }

      a {
        padding-left: 35px;
        padding-right: 35px;
        color: #fafafa;
      }
    }
  }
}

.nav-wrapper ul li:hover > ul {
  display: block;
}

.search-container {
  vertical-align: middle;
  white-space: normal;
  position: relative;

  input#search {
    width: 50px;
    height: 47px;
    background: #006dc6;
    border: none;
    font-size: 10pt;
    float: left;
    padding-left: 50px;
    color: #fff;
    -webkit-transition: width 0.55s ease;
    -moz-transition: width 0.55s ease;
    -ms-transition: width 0.55s ease;
    -o-transition: width 0.55s ease;
    transition: width 0.55s ease;

    &::-webkit-input-placeholder {
      color: #fafafa;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: #fafafa;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #fafafa;
    }

    &:-ms-input-placeholder {
      color: #fafafa;
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 17px;
    margin-top: 10px;
    z-index: 1;
    color: #fafafa;
  }

  input#search {
    &:focus,
    &:active {
      outline: none;
      width: 200px;
    }
  }

  &:hover {
    input#search {
      width: 200px;
    }

    .icon {
      color: #fafafa;
    }
  }
}

.brandnameShort {
  color: #fafafa;
  font-weight: 400;
  font-size: 1.7rem;
  opacity: 0;
  display: none;
  position: absolute;
  padding-top: 5px;
  left: 0;
  right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* Need a specific value to work */
}

.menuOpen {
  color: #fff;
  padding-top: 14px;
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: 25px;
  cursor: pointer;
  position: relative;
  display: none;
}

@include media-breakpoint-down(md) {
  .ad {
    display: none;
  }

  .nav-wrapper {
    justify-content: left;
  }

  .scroll {
    display: none;
  }

  .menuOpen {
    display: block;
  }

  .brandnameShort {
    display: inline-block;
  }

  .mobileNav {
    
  }
}
