footer {
  margin-top: 50px;

  .wrapper__footer {
    background-color: #007ee5;
    padding-top: 25px;
    padding-bottom: 20px;

    .brand {
      font-size: 1.5rem;

      a {
        color: #fafafa;
        font-weight: 500;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .info {
      p {
        font-weight: 500;
        font-size: 1.2rem;
        color: #fafafa;
        line-height: 0.5;

        a {
          color: #ffb74d;
          cursor: pointer;
        }
      }
    }

    .contact {
      padding-top: 10px;

      i {
        margin-right: 15px;
        font-size: 1.7rem;
        float: left;
        position: relative;
      }

      a {
        font-weight: 500;
        font-size: 1.3rem;
        color: #fafafa;
        line-height: 1;
        margin-bottom: 25px;
        display: inherit;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: #fafafa;
        }
      }
    }
  }
}

.maps__container {
  display: none;
}

.underfooter {
  background-color: #006dc6;
  padding-top: 20px;
  padding-bottom: 20px;

  a {
    color: #fafafa;

    span {
      font-weight: 500;
    }
  }
}

@include media-breakpoint-down(md) {
  .contact {
    a {
      font-weight: 500;
      display: inline-block;
      font-size: 1rem !important;
      color: #fafafa;
      padding-left: 0 !important;
    }
  }

  .copynamefooter {
    margin-top: 40px !important;
  }

  .opensourceBtn {
    span {
      display: none;
    }
  }
}
