.header {
  background-color: $color-primary;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;

  .copyname {
    font-size: 2rem;
    position: relative;
    color: $color-bg;
    cursor: pointer;
    display: block;
    float: right;
    margin-top: -30px;
  }
}

.brand {
  padding-bottom: 50px;

  .gosty {
    .agerestricted {
      padding-left: 225px;
      padding-top: 10px;
      color: $color-bg;
      font-size: 1.4rem;
    }
  }

  .brand__img {
    position: absolute;
    margin-left: -135px;

    img {
      height: 100%;
      width: 120px;
      display: inline-block;
      padding-top: 25px;
      float: left;
    }
  }

  .brandname {
    padding-bottom: 0;
    font-size: 1.1rem;
    color: $color-bg;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-top: 20px;
    letter-spacing: -0.5px;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }
  }
}

.ad {
  position: relative;
  right: 0;
  top: 0;
  text-align: center;

  .enter {
    background-color: $color-bg;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    h3 {
      font-weight: 400 !important;
    }

    a {
      color: $color-accent;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .already {
    color: $color-bg !important;
    font-size: 1.1rem;
    padding-top: 20px;

    &:hover {
      cursor: pointer;
      text-decoration: underline !important;
    }
  }
}

.bvi-button {
  position: absolute !important;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

@include media-breakpoint-up(md) {
  .brandname {
    font-size: 2.3rem !important;
  }
}

@include media-breakpoint-down(lg) {
  .brandname {
    font-size: 1.8rem !important;
  }

  .enter {
    h3 {
      font-size: 1.4rem;
    }

    a {
      font-size: 1.3rem !important;
    }
  }
}

@include media-breakpoint-down(sm) {
  .brand {
    padding-bottom: 20px;
  }

  .brandname {
    font-size: 1.2rem !important;
  }
}
