@include media-breakpoint-down(md) {
  article {
    margin-left: 0;
    padding-left: 0;
    left: 0;
    right: 0;

    .contentSingle {
      margin-bottom: 25px;
    }

    h1 {
      font-size: 1.2rem;
      color: #007ee5;
    }

    i {
      font-size: 0.9rem;
      color: #007ee5;
    }

    .updated {
      font-size: 0.9rem;
      color: #007ee5;
    }

    .content {
      padding-top: 10px;
    }
  }
}

article {
  h1 {
    padding-top: 25px;
    font-size: 2rem;
  }

  .contentSingle {
    -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
  }
}
