@include media-breakpoint-down(md) {
  article {
    margin-left: 0;
    padding-left: 0;
    left: 0;
    right: 0;

    .contentSingle {
      margin-bottom: 25px;
    }

    h1 {
      font-size: 1.2rem;
      color: $color-primary;
    }

    i {
      font-size: 0.9rem;
      color: $color-primary;
    }

    .updated {
      font-size: 0.9rem;
      color: $color-primary;
    }

    .content {
      padding-top: 10px;
    }
  }
}

article {
  h1 {
    font-size: 2rem;
  }
}
