@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&subset=cyrillic');

body,
html {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background-color: #fafafa;
  ::selection { background: #90caf9; }
}

.pageviews-wrapper {
  display: none;
}

#panel {
  -webkit-box-shadow: -7px 0 15px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 0 15px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 0 15px -7px rgba(0, 0, 0, 0.75);
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #fff;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.panel::before {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease-in-out;
}

.panel-open::before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
